body {
  margin: 0 auto;
  max-width: 1000px;
}

#container {
  border: 1px solid $secondary-color;
  margin-bottom: 40px;
}

#main {
  padding: ($column-gutter / 2) 0;
}

@media #{$small} {
  #main-wrapper {
    @include grid-column(12);
  }
}

@media #{$medium} {
  #main-wrapper {
    @include grid-column(9);
  }
}
