$navigation-background-color: #fdfdfd;

#navigation-wrapper {
  background-color: $navigation-background-color;
  border-right: 1px solid $border-color;

  #navigation {
    padding: ($column-gutter / 2) emCalc(10) 0 emCalc(10);
  }
}
