<section class="nav-section" id="nav-section-1">
  <h4>Some nav items</h4>
  <ul class="side-nav">
    <li class="divider"></li>
    <li class="active"><a href="#">- Lorem ipsum</a></li>
    <li><a href="#">- Qui Ut aute</a></li>
    <li><a href="#">- Quis aliquip</a></li>
    <li><a href="#">- Dolore cillum nisi</a></li>
    <li><a href="#">- Laborum tempor</a></li>
  </ul>
</section>

<section class="nav-section" id="nav-section-2">
  <h4>Other nav items</h4>
  <ul class="side-nav">
    <li class="divider"></li>
    <li><a href="#">- Lorem valorem</a></li>
    <li><a href="#">- Veniam</a></li>
    <li><a href="#">- Dolor fugiat anim</a></li>
    <li><a href="#">- Eiusmod in sunt</a></li>
    <li><a href="#">- Reprehenderit</a></li>
    <li><a href="#">- Irure commodo</a></li>
    <li><a href="#">- Consequat labore</a></li>
  </ul>
</section>