<article>
  <h1>Welcome to Your Web App!</h1>

  <p>Lorem ipsum Elit amet Excepteur laboris eiusmod enim nostrud incididunt occaecat non nulla irure nostrud adipisicing nostrud veniam pariatur magna tempor proident proident dolore mollit laborum dolore sed fugiat sunt veniam id ea reprehenderit.</p>

  <p>Lorem ipsum Amet anim eiusmod ea incididunt mollit ad fugiat nulla consectetur dolore tempor laboris est Excepteur tempor enim voluptate nulla consequat nulla aliquip nostrud eiusmod sit sunt proident proident aliquip nulla consectetur reprehenderit amet ex dolore eiusmod nostrud.</p>

  <a class="large button round" href="/foo">View foos</a>
</article>
